<app-menu></app-menu>

<main>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 py-3">
                <div class="card">
                    <div class="card-header" *ngIf="visita">
                        <h5>Visitas de: </h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tratamiento</th>
                                <th scope="col">Medicamento</th>
                                <th scope="col">Total</th>
                                <th scope="col">Accion</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let visita of visits">
                                <th scope="row">{{ visita.id }}</th>
                                <td>{{ visita.tratamiento }}</td>
                                <td>{{ visita.medicamento }}</td>
                                <td>${{ visita.costo }}</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="borrar(visita.id)">Borrar</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>